@charset "UTF-8";

.text-editor {
    line-height: 1.2;
}
.text-editor > .toolbar {
    -webkit-align-items: center;
    align-items: center;
    background-color: #fff;
    box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    padding: 5px;
    position: relative;
    width: 100%;
}
.text-editor > .toolbar > .group {
    -webkit-align-items: center;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    padding-top: 5px;
    width: 100%;
}
.text-editor > .toolbar > .group:first-child {
    border-top: none;
    padding-top: 0;
}
.text-editor > .toolbar > .group > .tool-btn {
    -webkit-align-items: center;
    align-items: center;
    -webkit-appearance: none;
    appearance: none;
    background-color: inherit;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    display: -webkit-flex;
    display: flex;
    flex: 0 0 40px;
    height: 32px;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 0;
    position: relative;
    transition: background-color 0.3s ease-in-out;
}
.text-editor > .toolbar > .group > .tool-btn:hover {
    background-color: #d6d6d6;
}
.text-editor > .toolbar > .group > .tool-btn.active {
    background-color: #d6d6d6;
}
.text-editor > .toolbar > .group > .tool-btn > .icon {
    fill: #000;
    display: block;
    height: 24px;
    width: 24px;
}
.text-editor > .toolbar > .group > .tool-btn > .tooltip {
    background-color: #fff;
    border-radius: 7px;
    opacity: 0;
    padding: 5px 20px;
    position: absolute;
    -webkit-transform: translateY(-95%);
    transform: translateY(-95%);
    transition: opacity, visibility, transform 0.3s ease-in-out;
    visibility: hidden;
    z-index: 2;
}
.text-editor > .toolbar > .group > .tool-btn:hover > .tooltip {
    opacity: 1;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: visible;
}
.text-editor > .toolbar > .group > .tool-btn > .tooltip > .heading {
    
}
.text-editor > .toolbar > .group > .tool-btn > .tooltip > .text {

}
.text-editor > .status-bar {
    -webkit-align-items: center;
    align-items: center;
    background-color: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
    padding: 5px;
    position: relative;
    width: 100%;
}
.text-editor > .status-bar > .left-box {
    display: -webkit-flex;
    display: flex;
    flex: 0 0 50%;
}
.text-editor > .status-bar > .right-box {
    display: -webkit-flex;
    display: flex;
    flex: 0 0 50%;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
.text-editor > .status-bar > .right-box > .btn {
    appearance: none;
    -webkit-align-items: center;
    align-items: center;
    -webkit-appearance: none;
    appearance: none;
    background-color: inherit;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
}
